/* 모달 시작 */
/* 모달 back */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
}
#closeModalBtn {
  /* background-image: url("/Training/images/menu_open:close/nav_close.png"); */
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
/* ============== 모달 로그인 =========== */
.modalBox-login {
  position: fixed;
  top: -400px;
  align-self: center;
  min-width: 700px;
  height: 400px;
  background-color: #fff;
  text-align: center;
  border-radius: 30px;
  transition-duration: 0.5s;
  display: none;
  overflow: hidden;
  box-shadow: 0 0 5px #fff;
}
.loginBox {
  padding: 0 10px;
  width: 250px;
  box-sizing: border-box;
  position: relative;
}
.headText {
  border-bottom: 3px solid black;
  width: 90%;
  margin: 10px auto;
  border-image: linear-gradient(to right, #d43b76, #e623ccaa, #7d1adaaa);
  border-image-slice: 1;
  padding: 10px 0;
}
.loginBox > form > input,
button {
  display: block;
  width: 90%;
  height: 30px;
  margin: auto;
  margin-top: 5px;
  outline: none;
  border: none;
  box-sizing: border-box;
}
.loginBox > form > input {
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  font-size: 12px;
  transition-duration: 0.5s;
}
.loginBox > form > input:focus {
  border-bottom: 1px solid blue;
}
.videoBox {
  /* background-color:red; */
  background-image: url("/resources/image/main/elsa.gif");
  background-repeat: repeat;
  background-size: 450px 100%;
  width: 450px;
}
.forgetModal {
  background-color: rgba(0, 0, 0, 0.3);
  width: 450px;
  height: 400px;
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}
.forgetId > *,
.forgetPw > * {
  box-sizing: border-box;
}
.forgetId,
.forgetPw {
  width: calc(100% / 2);
  height: 200px;
  background-color: #fff;
  position: absolute;
  transition-duration: 0.5s;
  border-radius: 20px;
}
.forgetId > input:focus,
.forgetPw > input:focus {
  background-color: #383838;
  color: #fff;
}
.forgetId > input:focus::placeholder,
.forgetPw > input:focus::placeholder {
  color: #fff;
}
/* 아이디 찾기 모달 창 영역 밖 설정 */
.forgetId {
  left: calc(-100% / 2);
}
/* 비밀번호 찾기 모달 창 영역 밖 설정 */
.forgetPw {
  right: calc(-100% / 2);
}
.forget-inputs {
  width: 80%;
  height: 30px;
  outline: none;
  padding: 0 10px;
  border: 1px solid #888;
  transition-duration: 0.3s;
}
#forgetIdBtn,
#forgetPwBtn {
  margin-top: 20px;
  color: #9368f7;
  background-color: rgb(84, 83, 85);
  cursor: pointer;
}
#forgetIdBtn:hover,
#forgetPwBtn:hover {
  background-color: #9368f7;
  color: #ddd;
}
#loginBtn {
  background: linear-gradient(to right, #7c3ce2, #603ddf, #4a54e7, #3d7edf);
  font-weight: bold;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  transition-duration: 1s;
}
#loginBtn:hover {
  background: linear-gradient(to right, #3d7edf, #7c3ce2, #603ddf, #4a54e7);
}
.linkBox {
  display: block;
  text-align: left;
  padding: 0 10px;
}
.linkBox > a {
  text-decoration: none;
  color: #0400fd;
  float: right;
}
.linkBox > a:hover {
  text-decoration: underline;
}
/* =================== 모달 가입 ================= */
.modalBox-signUp {
  position: fixed;
  bottom: -650px;
  align-self: center;
  /* min-width: 400px; */
  width: 450px;
  height: 650px;
  background-color: #fff;
  text-align: center;
  border-radius: 30px;
  transition-duration: 0.5s;
  display: none;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 5px #fff;
  padding: 0 40px;
  box-sizing: border-box;
}
.headText {
  border-bottom: 3px solid black;
  width: 90%;
  margin: 10px auto;
  border-image: linear-gradient(to right, #d43b76, #e623ccaa, #7d1adaaa);
  border-image-slice: 1;
  padding: 10px 0;
}
/* 회원가입 css */
.joinForm {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backImg {
  height: 300px;
  width: 90%;
  margin: auto;
  background-image: url("/resources/image/main/member-icon-11.png");
  background-size: 100% 100%;
}
.sign-inputs,
#signUpBtn {
  width: 90%;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
}
.joinForm input,
select {
  border: 1px solid #ddd;
  transition-duration: 0.3s;
  outline: none;
}
.modalBox-signUp select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  text-align-last: center;
}
.joinForm > input:focus {
  border-left: 6px solid #9368f7;
  padding-left: 5px;
  background-color: #f1daff;
}
.regs{
	display:flex;
	width:80%;
	height:20px;
	font-size:14px;
	line-height:20px;
	text-align:left;
}
.checkIcon{
	display:inline-block;
	width:20px;
	height:20px;
}
.sign-inputs:nth-last-child(3) {
  display: flex;
  padding: 0;
  margin-top: 10px;
  align-items: center;
}
.sign-inputs:nth-last-child(3) > span {
  padding: 0 10px;
  color: #777;
}
.sign-inputs:nth-last-child(3) > span:first-child {
  flex-grow: 1;
  text-align: left;
  align-self: flex-end;
}
.sign-inputs:nth-last-child(3) > select {
  width: 100px;
  height: 100%;
}
.sign-inputs:nth-last-child(2) {
  display: flex;
  padding: 0;
  align-items: center;
  margin: 10px 0;
}
.sign-inputs:nth-last-child(2) > input {
  height: 40px;
  width: calc(100% / 3);
  padding: 0 10px;
  box-sizing: border-box;
}
#signUpBtn {
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #3d7edf;
}
#signUpBtn:hover {
  animation-name: signBtn;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes signBtn {
  0% {
    background-color: #3d7edf;
  }
  50% {
    background-color: #da5b45;
    color: #fff;
  }
  100% {
    background-color: #62e7dc;
  }
}
