<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="student">
	<select id="selectOneStudent" parameterType="s" resultType="s">		<!-- keyup값과 일치하는 지 -->
		select
			student_no as studentNo,
			student_class as studentClass,
			student_id as studentId,
			student_name as studentName,
			student_pw as studentPw,
			phone,
			grade
		from student where
		<choose>
			<when test="studentId == null">	<!-- 아이디 찾기 -->
				student_name=#{studentName} and phone=#{phone}
			</when>
			<when test="studentPw != null"> <!-- 로그인 또는 비밀번호 변경? -->
				student_id=#{studentId} and student_pw=#{studentPw}
			</when>
			<when test="phone != null"> <!-- 비밀번호 찾기 -->
				student_id=#{studentId} and phone=#{phone}
			</when>
			<when test="studentNo != null"> <!-- 마이페이지 -->
				student_no = #{studentNo}
			</when>
			<otherwise>	<!-- 아이디 중복 -->
				student_id=#{studentId}
			</otherwise>
		</choose>
	</select>
	<!-- 기존 비밀번호와 새 입력 비밀번호 체크 -->
	<select id="checkPw" parameterType="s" resultType="s">
		select * from (select * from student where student_id=#{studentId} and phone=#{phone}) where student_pw=#{studentPw}
	</select>
	<select id="selectOpenCla" resultType="c">				<!-- 개강중인 반만 가져오기 -->
		select
			class_no as classNo,
			class_name as className,
			class_subject as classSubject,
			class_start as classStart,
			class_end as classEnd
		from class where class_end > to_char(sysdate,'yyyy-mm-dd') order by 1
	</select>
	<!-- 회원가입 -->
	<insert id="insertStudent" parameterType="s">
		insert into student values(student_seq.nextval,#{studentClass},#{studentId},#{studentName},#{studentPw},#{phone},3)
	</insert>
	<!-- 비밀번호 변경 -->
	<update id="updatePwStudent" parameterType="s">
		update student set student_pw=#{studentPw} where student_id=#{studentId}
	</update>
	<!-- 마이페이지 수정 -->
	<update id="updateOneStudent" parameterType="s">
		UPDATE student SET student_name = #{studentName}, phone = #{phone}, address = #{address} WHERE student_id = #{studentId}
	</update>
</mapper>
